extends base
block content
  tr
    td
      p.address.paragraph Dear 
        strong #{username}
  tr.deletion-msg 
    td
      table
        tr
          td
            p.paragraph We're sad to see you go, but we respect your decision. Your account with Yariga has been successfully deleted. 
        tr
          td
            p.paragraph If you have any feedback or reasons for your departure, we'd love to hear from you. Your input is valuable and helps us improve our services. 
        tr
          td
            p.paragraph If you ever decide to return, we'll be here with open arms. 
        tr
          td
            p.paragraph In the meantime, thank you for being a part of Yariga. We wish you all the best in your future endeavors. If you have any questions or concerns, please don't hesitate to contact our support team at 
              u: i: strong: a.email-link(href="mailto:devruss010@gmail.com") devruss010@gmail.com.
        tr
          td
            p.paragraph Take care, and farewell!
        tr.regards
          td
            p.paragraph Best regards,
        tr.regards.last-child
          td
            p.paragraph The
              strong &nbsp;Yariga Team