extends base
block content
  tr
    td
      p.tertiary-text Here are a few things to get you started:
  tr
    td
      table.list
        tr
          td 
            p.list-item--head **Explore Your Dashboard**
        tr
          td
            p.list-item--msg Log in to your account and explore the features and functionalities available in your dashboard. If you have any questions, our support team is here to help.
        tr
          td
            p.list-item--head **Complete Your Profile**
        tr
          td
            p.list-item--msg Personalize your profile by adding a profile picture and updating your information. This helps us tailor your experience and connect you with relevant content.
  tr
    td
      p.important-msg Once again, welcome to the Yariga community! We're excited to have you with us.
  tr.regards
    td
      p Best regards,
  tr.regards.last-child
    td
      p The
        strong &nbsp;Yariga Team